.home-nav{
    position: fixed;
    background-color: #fff;
    box-shadow: 7px 4px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 0px !important;
    width: 100%;
    z-index: 99;
    height: 80px;
}
.home-nav .container-fluid{
    padding: 12px !important;
}
.home-nav span.title{
    font-size: 22px;
    margin-left: 20px;
    color: #069;
    font-weight: 900;
}
.home-nav .logo{
    color: #84b5e0;
}
.home-nav .logo i{
    margin-top: 4px;
}
.home-nav .logo:hover {
   color: #61a2da !important;
   text-shadow: 1px 1px 1px #61a2da;
}
.home-nav .navbar-right{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #069;
}