<nav class="home-nav navbar">
  <div class="container-fluid">
    <!-- header navbar -->
    <div class="navbar-header">
      <span class="logo">
        <!-- header logo -->
        <i class="fa fa-address-book fa-3x" aria-hidden="true"></i>
      </span>
      <!-- header message -->
      <span class="title"> My Insurance Portal </span>
    </div>

    <span class="navbar-right">
      <!-- signout link -->
      <button class="btn btn-link" (click)="signout()">Signout</button>
    </span>
    
  </div>
</nav>
