<app-header></app-header>


<div class="form-area">

    <div *ngIf="policyUpdated == true">
      <p>
          Policy Updated successfully
      </p>

      <div class="row">
          <div class="col-md-3"></div>
        <div class="col-md-3">
        </div>
        <div class="col-md-3">                
            <a  routerLink="/home" href="#" class="btn btn-primary btn-block" role="button">
              Continue</a>
        </div>
      </div>
    </div>

    <div *ngIf="policyUpdated == false">
        <!-- form for validating controls -->
        <form class="form-container policyForm" [formGroup]="policyForm" (ngSubmit)="onUpdate(policyForm.value)">
          <div class="inner-body">
            <h3>Edit Policy</h3>
            <div class="form-group">
              <input id="policyNumber" type="text" [(ngModel)]="policyObj.policyNumber" class="form-control" formControlName="policyNumber" placeholder="policyNumber">
              <div class="alert alert-danger" *ngIf="!policyForm.controls['policyNumber'].valid && policyForm.controls['policyNumber'].touched">please enter policy number</div>
            </div>
    
            <div class="form-group">
                <input id="name" type="text" class="form-control" [(ngModel)]="policyObj.name" formControlName="name" placeholder="name">
                <div class="alert alert-danger" *ngIf="!policyForm.controls['name'].valid && policyForm.controls['name'].touched">please enter name</div>
            </div>
            
            <div class="form-group">
                  <input id="age" type="number" [(ngModel)]="policyObj.age" min="0" max="99" class="form-control" formControlName="age" placeholder="age">
                  <div class="alert alert-danger" *ngIf="!policyForm.controls['age'].valid && policyForm.controls['age'].touched">please enter valid age</div>
            </div>
            
            <div class="form-group">
                <input name="gender" type="radio" [(ngModel)]="policyObj.gender" formControlName="gender"  [value]=0> Male
                <input name="gender" type="radio" [(ngModel)]="policyObj.gender" formControlName="gender" [value]=1> Female
                <div class="alert alert-danger" *ngIf="!policyForm.controls['gender'].valid && policyForm.controls['gender'].touched"> 
                  please select gender
                </div>
            </div>

            <div class="row">
                <div class="col-md-3"></div>
              <div class="col-md-3">
                  <a  routerLink="/home" href="#" class="btn btn-primary btn-block" role="button">
                    Cancel</a>
              </div>
              <div class="col-md-3">                
                  <button type="submit" class="btn btn-primary btn-block" [disabled]="!policyForm.valid">Update</button>
              </div>
              <div class="col-sm-12">
                  <div *ngIf="serverActionFailed" class="alert alert-danger">{{errorMessage}}</div>
              </div>
            </div>
      
          </div>
        </form>
      </div>
</div>
