/* You can add global styles to this file, and also import other style files */
body{
    background: #e2e1e0 !important;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif !important;
    /*overflow-x: hidden;*/
}