<app-header></app-header>

<div class="policy-list" *ngIf="deletionEnabled == false">
  <div class="row">
      <div class="input-group input-group-sm-3 mb-3 col-md-6">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Search</span>
          </div>
          <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" (keyup)="doFilter($event.target.value)">
        </div>
        <div class="col-md-6">
          <a  routerLink="/addpolicy" href="#" class="btn btn-primary active  pull-right" role="button">
            <i class="fa fa-plus"></i> Policy</a>
        </div>
  </div>
  
  <div *ngIf="!noPolicyFound">
      <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Policy Number</th>
              <th scope="col">Name</th>
              <th scope="col">Age</th>
              <th scope="col">Gender</th>
              <th scope="col">Edit</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let policy of policyList | paginate: { id: 'server', itemsPerPage: 10, currentPage: p, totalItems: total }">
              <td>{{ policy.policyNumber}}</td>
              <td>{{ policy.name }}</td>
              <td>{{ policy.age }}</td>
              <td>
                <div *ngIf="policy.gender==0;then male else female"></div>    
                  <ng-template #male>Male</ng-template>
                  <ng-template #female>Female</ng-template>  
              </td>
              <td>
                <span class="table-btn" (click)="editPolicy(policy.id)">
                    <i class="fa fa-edit fa-2x"></i>
                </span>
                  
              </td>
              <td>
                  <span class="table-btn" (click)="deletePolicy(policy.id)">
                      <i class="fa fa-trash fa-2x btn-remove"></i>
                    </span>           
              </td>       
            </tr>
          </tbody>
        </table>     
      
        <div class="has-text-centered paging">
            <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
            <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
          </div>
      
  </div>
  
    <div class="col-sm-12">
        <div *ngIf="noPolicyFound" class="alert alert-info">{{errorMessage}}</div>
    </div>
</div>

<div class="deletion-confirm" *ngIf="deletionEnabled == true">
  <div>
      <p>
          Are you sure, you want to delete the selected policy?
      </p>
  
      <div class="row">
          <div class="col-md-3"></div>
        <div class="col-md-3">
            <a  (click)="cancelDeletion()" class="btn btn-primary btn-block active" role="button">
                Cancel</a>
        </div>
        <div class="col-md-3">                
            <a (click)="onDeletion()" class="btn btn-danger btn-block active" role="button">
              <i class="fa fa-trash"></i> Delete</a>
        </div>
        <div class="col-sm-12">
            <div *ngIf="serverActionFailed" class="alert alert-danger">{{errorMessage}}</div>
          </div>
      </div>
  </div>
  </div>
