.policy-list{
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 110px;
}

.policy-list .table{
    background: white;
}

.table .table-btn .btn-remove:hover{
    color: orangered;
}

.table .table-btn:hover {
 color: #61a2da;
 cursor: pointer;
}

.deletion-confirm{  
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 120px;
}

.deletion-confirm>div{
    padding: 15px;
    background: white;
}