.user-login{
    padding-left: 23%;
    padding-right: 30%;
}
.user-login> div{
    background-color: #fff;
    box-shadow: 7px 4px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 0px !important;
    padding: 0px;
    margin-top: 100px; 
}
.login-container.form-container{
    display: block;
    margin-left: 23%;
    margin-right: 10%;
    position: relative;
}

.login-container .inner-body{
    border-top: solid 1px #EBEBEB;
    border-bottom: solid 1px #EBEBEB;
    padding-bottom: 30px;
}
.login-container .logo{
    position: absolute;
    left: -65px;
    top: 40px;
    color: #84b5e0;
}
.login-container .logo:hover {
   color: #61a2da !important;
   text-shadow: 1px 1px 1px #61a2da;
}
.login-container .inner-body h3{
    font-weight: 700;
}

.login-container .alert{
    padding: 7px !important;
    margin-bottom: 20px !important;
    animation: 2s alertAnim forwards !important;
}

.login-container .form-control.ng-invalid.ng-touched{
    border:1px solid #b45d5b  !important;
}

@keyframes alertAnim{
    from{
        opacity: 0;
        transform: translateY(-20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}