<div class="user-login">
  <div class="col-xs-10 col-xs-offset-1">
    <!-- form for validating controls -->
    <form class="form-container login-container" [formGroup]="loginForm" (ngSubmit)="authenticateUser(loginForm.value)">
      <span class="logo">
        <!-- logo -->
        <i class="fa fa-address-book fa-4x" aria-hidden="true"></i>
      </span>
      <div class="inner-body">
        <h3>Log in</h3>
        <div class="form-group">
          <!-- user name with validation -->
          <input id="userName" type="text" class="form-control" formControlName="userName" placeholder="Username">
          <div class="alert alert-danger" *ngIf="!loginForm.controls['userName'].valid && loginForm.controls['userName'].touched">please enter username</div>
        </div>
        <div class="form-group">
          <!-- password with validation -->
          <input id="password" type="password" class="form-control" formControlName="password" placeholder="Password">
          <div class="alert alert-danger" *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password'].touched">please enter password</div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <!-- user authentication -->
            <button type="submit" class="btn btn-primary btn-block" [disabled]="!loginForm.valid">Login</button>
          </div>
          <div class="col-sm-12">
            <!-- error on unsuccessful login -->
            <div *ngIf="loginFailed" class="alert alert-danger">{{loginError}}</div>
          </div>
        </div>
  
      </div>
    </form>
  </div>
  </div>
  